body
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btn_size
{
	width: 100px;
	height: 100px;
}

.lrg_btn_size
{
	width: 184px;
	height: 100px;
	padding-left: 32px;
}

.column_align
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.row_align
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#calculator
{
	background-color: black;
	width: fit-content;
	border-radius:64px;
	padding: 16px;
}

#operators > .btn
{
	background-color: orange;
}

#special > .btn
{
	background-color: gainsboro;
}

#numbers .btn
{
	background-color: grey;
}

#screen
{
	background-color: black;
	border-radius:64px;
	width: 400px;
	height: 200px;
}

#calculator *
{
	gap: 16px;

}

.btn
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius:100px;
}

.btn_txt
{
	margin: 0;
	font-size: 400%;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#numbers .btn_txt
{
	color: white;
}

#operators .btn_txt
{
	color: white;
}

#special .btn_txt
{
	color: black;
}

#zero
{
	display: flex;
	flex-direction: row;
	justify-content: left;
}